.hero-parent {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.hero-parent .hero-left {
  border: 2px solid red;
  width: 60%;
}
.hero-parent .hero-right {
  border: 2px solid red;
  width: 40;
}
.hero-parent .hero-right img {
  width: 100%;
  object-fit: contain;
}
