/* /* Navbar.css */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.logo-section {
  flex: 1; /* Allow logo to grow and shrink */
}

.links-section {
  flex: 2; /* Allow links section to grow and shrink */
}

.nav-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.nav-item {
  margin-right: 20px;
}

.button-section {
  flex: 1; /* Allow button section to grow and shrink */
}

.hamburger-menu {
  display: none; /* Initially hide hamburger menu */
  border: none;
  background: none;
  font-size: 20px;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .hamburger-menu {
    display: block; /* Show hamburger menu on small screens */
  }

  .links-section {
    display: none; /* Initially hide nav links on small screens */
    position: absolute;
    top: 60px; /* Adjust top position as needed */
    left: 0;
    right: 0;
    background-color: #f9f9f9;
    z-index: 1;
    flex-direction: column;
    align-items: center;
  }

  .links-section.show {
    display: flex; /* Show nav links when hamburger menu is clicked */
  }

  .nav-item {
    margin: 10px 0;
  }
}
